name: CI
on: [ push, pull_request ]
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 20, 24 ]
        eslint: [ '' ]

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm ci
    - name: Install eslint (optional)
      if: ${{ matrix.eslint }} != ''
      run: npm i -D eslint@${{ matrix.eslint }}
    - name: Build
      run: npm run all